unix/ipproof-client
unix/ipproof-server
win/client/Debug/
win/client/client.*
win/debug/
win/server/Debug/
win/server/server.vcproj.*
win/win.ncb
win/win.suo

src/.*

# Ignore windows specific files
Documentation/thumbs.db
win/backup/
win/server/server.vcxproj
win/server/server.vcxproj.filters
win/upgradelog.htm
win/win.v11.suo

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
Debug/
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
ipproof-client.dir/
ipproof-client.vcxproj
ipproof-client.vcxproj.filters
ipproof-server.dir/
ipproof-server.vcxproj
ipproof-server.vcxproj.filters
ipproof.sln
