unix/ipproof-client
unix/ipproof-server
win/client/Debug/
win/client/client.*
win/debug/
win/server/Debug/
win/server/server.vcproj.*
win/win.ncb
win/win.suo

src/.*

# Ignore windows specific files
Documentation/thumbs.db
win/backup/
win/server/server.vcxproj
win/server/server.vcxproj.filters
win/upgradelog.htm
win/win.v11.suo
